@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.navbar-container {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  // padding: 0.3rem 2rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  
}

.navbar-logo {
  align-items: center;
  align-self: center;
  text-decoration: none;
  font-family: "Rubik Glitch", serif;
  // font-size: clamp(60px, 8vw, 200px);
  font-size: 78px;
  @include linear-gradient-logo;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  gap: 1rem;
}

.navbar-menu li {
  list-style: none;
}

i {
  font-size: 20px;
  color: #666666;
}

i:hover {
  color: #FAF8FF;
}

.icon {
  display: block;
  visibility: hidden;
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.25s;
  pointer-events: auto;
}

// .navbar-container > .icon > .navbar-menu {
//   display: flex;
//   justify-content: flex-end;
// }

/* Responsive Layouts */

// @media (max-width: $mobile) {
//   .navbar-container ul {
//     visibility: visible;
//   }

//   a .navbar-logo {
//     text-decoration: none;
//     display: flex;
//     align-self: flex-start;
//   }

//   .icon {
//     visibility: hidden;
//   }
// }

// @media (max-width: $tablet) {
//   .navbar-container ul {
//     visibility: visible;
//   }

//   a .navbar-logo {
//     text-decoration: none;
//     display: flex;
//     align-self: flex-start;
//   }

//   .icon {
//     visibility: hidden;
//   }
// }