@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-theme-toggle {
  // margin-left: auto;
}

@media (max-width: 768px) {
  .nav-container {
    // flex-direction: column;
    justify-content: space-between;
  }
}
