<header class="nav-container" [ngClass]="currentTheme">
  <!-- Logo Link -->
  <a href="/" class="nav-logo">
    <img id="logo" src="assets/slogo36px1.png" alt="Slogo" />
  </a>

  <!-- Insert Links here -->

  <nav class="nav-items">
    <!-- Menu Items -->
    <div class="nav-links" *ngFor="let item of menuItems">
      <a [routerLink]="item.url">{{ item.name }}</a>
    </div>

    <!-- Nav Theme Toggle Component -->
    <app-theme-toggle class="nav-theme-toggle"></app-theme-toggle>

    <!-- Nav Social Links Component -->
    <app-social-links class="nav-social-links"></app-social-links>
  </nav>

  <!-- Navdrop Menu -->
  <app-navdrop class="nav-menu"></app-navdrop>
</header>
