@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: $mobile) {
  .nav-container {
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-theme-toggle {
    display: none;
  }

  .nav-social-links {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .nav-links {
    display: none;
  }
}
