<header class="navbar-container" [ngClass]="currentTheme">
  <!-- Logo -->
  <a href="javascript:void(0)" class="navbar-logo">
    <img id="logo" src="assets/slogo36px1.png" />
  </a>

  <!-- B WRAP -->
  <div class="wrapper">
    <!-- Theme Button -->
    <nav>
      <ng-content
        class="navbar-theme-toggle"
        select="app-theme-toggle"
        aria-haspopup="true"
        aria-expanded="false"
      ></ng-content>
    </nav>

    <!-- Social Links NG Content -->
  </div>

  <!-- Tool Menu -->
  <app-toolmenu></app-toolmenu>
</header>
