<header class="navbar-container" [ngClass]="currentTheme">
  <!-- Navbar Logo -->
  <!-- <div class="navbar-logo-background">
    <a href="javascript:void(0)" class="navbar-logo">
      <img src="assets/slogo.png" />
    </a> -->

  <a href="javascript:void(0)" class="navbar-logo">
    <img id="logo" src="assets/slogo.png" />
  </a>

  <!-- Navbar Theme Wrapper -->
  <div class="wrapper">
    <nav>
      <ng-content
        class="navbar-theme-toggle"
        select="app-theme-toggle"
        aria-haspopup="true"
        aria-expanded="false"
      ></ng-content>
    </nav>

    <!-- Social Links -->
    <div class="menu-social-links">
      <ul>
        <li>
          <a href=""
            ><i
              class="fab fa-youtube"
              aria-hidden="true"
              [class.dark]="isDarkMode"
              [class.light]="!isDarkMode"
            ></i
          ></a>
        </li>
        <li>
          <a href=""
            ><i
              class="fab fa-linkedin"
              aria-hidden="true"
              [class.dark]="isDarkMode"
              [class.light]="!isDarkMode"
            ></i
          ></a>
        </li>
        <li>
          <a href=""
            ><i
              class="fab fa-discord"
              aria-hidden="true"
              [class.dark]="isDarkMode"
              [class.light]="!isDarkMode"
            ></i
          ></a>
        </li>
        <li>
          <a href=""
            ><i
              class="fab fa-github"
              aria-hidden="true"
              [class.dark]="isDarkMode"
              [class.light]="!isDarkMode"
            ></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Dropdown -->
  <div
    class="ellipsis-container"
    (mouseenter)="toggleDropdown()"
    (mouseleave)="hideDropdown()"
  >
    <div class="ellipsis">
      <div [ngClass]="{ 'theme-dark': isDarkMode }"></div>
      <div [ngClass]="{ 'theme-dark': isDarkMode }"></div>
      <div [ngClass]="{ 'theme-dark': isDarkMode }"></div>
    </div>
    <!-- Dropdown Content -->
    <div
      class="dropdown-content"
      *ngIf="showDropdown"
      [ngClass]="{ 'theme-dark': isDarkMode }"
    >
      <a href="javascript:void(0)">Item 1</a>
      <a href="javascript:void(0)">Item 2</a>
      <app-theme-toggle class="dropdown-theme-toggle"></app-theme-toggle>

      <!-- Social Links -->
      <div class="dropmenu" [ngClass]="{ 'theme-dark': isDarkMode }">
        <ul>
          <li>
            <a href=""><i class="fab fa-youtube" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-discord" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
