<main class="parent">
  <article class="child">
    <h1><span class="highlight">Theme</span></h1>
    <!-- theme-toggle.button -->
    <div class="btn" (click)="toggleTheme()" [ngClass]="{ darkmode: darkMode }">
      <div
        class="btn__indicator"
        [ngStyle]="{ transform: darkMode ? 'translateX(1.5em)' : 'none' }"
      >
        <button
          title="Toggle Dark Mode"
          class="btn__icon-container"
          [ngClass]="{ 'darkmode-bg': darkMode }"
        >
          <i
            [ngClass]="
              darkMode ? 'fas fa-moon btn__icon' : 'fas fa-sun btn__icon'
            "
            [class.animated]="isAnimated"
          ></i>
          <span class="visually-hidden">Toggle Dark Mode</span>
        </button>
      </div>
    </div>
  </article>
</main>
