<section class="parent">
  <div class="child">
    <h1>Light | <span class="highlight">Dark</span></h1>
    <!-- theme-toggle.buutton -->
    <div
      class="btn"
      (click)="toggleDarkMode()"
      [ngClass]="{ darkmode: darkMode }"
    >
      <div
        class="btn__indicator"
        [ngStyle]="{ transform: darkMode ? 'translateX(5em)' : 'none' }"
      >
        <div class="btn__icon-container">
          <i
            class="btn__icon"
            [ngClass]="
              darkMode ? 'fa-solid fa-moon animated' : 'fa-solid fa-sun'
            "
          ></i>
        </div>
      </div>
    </div>
  </div>
</section>
