<main class="parent">
  <article class="child">
    <div class="btn" (click)="toggle()" [class.darkmode]="isDarkMode">
      <div class="btn__indicator" [style.transform]="indicatorTransform">
        <button
          title="Toggle Dark Mode"
          class="btn__icon-container"
          [class.darkmode-bg]="isDarkMode"
          [class.clicked]="isClicked"
        >
          <i
            class="btn__icon"
            [class.fas]="true"
            [class.fa-moon]="isDarkMode"
            [class.fa-sun]="!isDarkMode"
            [class.animated]="isAnimated"
          ></i>
        </button>
      </div>
    </div>
  </article>
</main>
