// social links menu
$light-theme-menu-bg-color: #58d278;
$dark-theme-menu-bg-color: #fff;
$light-theme-menu-hover-color: #333;
$dark-theme-menu-hover-color: #fff;

$body-light-mode-color: #fff;
$body-dark-mode-color: #333;

$icon-color: #666666;
$icon-hover-color: #faf8ff;

// grid panel component
$grid-panel-border-light: #121212;
$grid-panel-border-dark: #272533;
$grid-panel-box-light: #121212;
$grid-panel-box-dark: #3a3a3a;

// toggle theme button
$btn-icon: #f6b162;
$btn-border: #2a2a2a;
$btn-hover: #f1c40f;
$btn-icon-container: #4a4a4a;

$menu-items-hover: #98afba;

$h1-dark-span: #4b4453;
$temp-light: #c9c9c9;

$cover-h1: #006b69;
$cover-h2: #4cf58c;
$cover-p: #d5fadd;

// $color1: #845ec2;
// $color2: #d65db1;

$light-mode-dropdown-bg: #f0f0f0; // light gray
$light-mode-dropdown-text: #333; // dark gray

$dark-mode-dropdown-bg: #2f2f2f; // dark gray
$dark-mode-dropdown-text: #b3b3b3; // light gray
$hover-color: #007bff;

$light-mode-link: #000; // black for light mode
$light-mode-icon: #333; // dark gray for light mode

$dark-mode-link: #fff; // white for dark mode
$dark-mode-icon: #b3b3b3; // light gray for dark mode

$light-mode-svg: #333; // dark for light mode
$dark-mode-svg: #fff; // white for dark mode

$light-mode-bg: #f5f5f5;
$dark-mode-bg: #121212;
