$main-black: #171010;
$main-dark-grey: #2b2b2b;
$main-grey: #423f3e;
$main-brown: #362222;

$btn-icon: #f6b162;
$btn-border: #3c3f44;
$btn-hover: #00c896;

$temp-light: #272533;
$h1-dark-span: #4b4453;

$menu-items-hover: #98afba;

$main-border: #4f5e8a;

$cover-h1: #006b69;
$cover-h2: #4cf58c;
$cover-p: #d5fadd;

$card-box: #8390bf;
