@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin box-shadow-btn {
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

@mixin hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/* scroll section */

@mixin linear-gradient-logo {
  animation: color-logo 24s ease infinite alternate;

  @keyframes color-logo {
    0% {
      color: #845ec2;
    }

    25% {
      color: #d65db1;
    }

    50% {
      color: #ff6f91;
    }

    75% {
      color: #ff9671;
    }

    100% {
      color: #ffc75f;
    }
  }
}

@mixin glitchfx {
  @keyframes glitchy {
    0% {
      text-shadow: 5px 4px #c1c1c1, -5px -6px #f2f2f2;
    }
    25% {
      text-shadow: -5px -6px #c1c1c1, 5px 4px #f2f2f2;
    }
    50% {
      text-shadow: 5px -4px #c1c1c1, -8px 4px #f2f2f2;
    }
    75% {
      text-shadow: -8px -4px #c1c1c1, -5px -4px #f2f2f2;
    }
    100% {
      text-shadow: -5px 0 #c1c1c1, 5px -4px #f2f2f2;
    }
  }
}

@mixin spin-animation {
  animation: spin 0.5s ease-in-out 5;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  align-self: center;
}
