<div
  class="dropdown-content"
  [class.open]="isOpen"
  [ngClass]="{ 'theme-dark': isDarkMode }"
>
  <!-- Links -->
  <a href="your-item-1-url" aria-label="Item 1">Item 1</a>
  <a href="your-item-2-url" aria-label="Item 2">Item 2</a>

  <!-- Theme Toggle Button -->
  <app-theme-toggle class="dropdown-theme-toggle"></app-theme-toggle>

  <!-- Social Links -->
  <nav class="dropdown-social-links" [ngClass]="{ 'theme-dark': isDarkMode }">
    <ul>
      <li>
        <a href="your-youtube-url" aria-label="YouTube"
          ><i class="fab fa-youtube" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="your-linkedin-url" aria-label="LinkedIn"
          ><i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="your-discord-url" aria-label="Discord"
          ><i class="fab fa-discord" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="your-github-url" aria-label="GitHub"
          ><i class="fab fa-github" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
