@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.ellipsis {
  display: flex;
  justify-content: space-between;
  width: 50px;

  div {
    width: 10px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }

  div:nth-child(2) {
    background-color: #fff;
  }

  div.theme-dark {
    background-color: #aaa;
  }

  &:hover {
    div:nth-child(2):not(.clicked) {
      background-color: #00ff00;
      @include flash-animation(0.2s);
    }
  }

  div.clicked {
    background-color: #ff0000; // Changes to red when clicked
  }
}
