@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  background-color: #d3d3d3; // Light grey color

  &:hover .crosshair-image {
    opacity: 1;
    transform: scale(1.1) rotate(45deg); // Add rotation to the hover effect
    box-shadow: 0 0 10px #00ff00; // Add a green glow effect
  }

  &:hover {
    .ellipsis-dot:nth-child(1),
    .ellipsis-dot:nth-child(3) {
      display: none;
    }

    .ellipsis {
      justify-content: center;
    }
  }
}

.crosshair-image {
  position: absolute;
  width: 60px;
  height: auto;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; // Add transition for box-shadow
  border-radius: 50%; // Make the image circular
}

.crosshair-image.open {
  opacity: 1;
}

.ellipsis {
  display: flex;
  justify-content: space-between;
  width: 50px;
  position: absolute;
  z-index: 1;
}

.ellipsis-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fffefe; // Dark gray color
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.2); // Slightly enlarge the dot on hover
  }

  &.clicked {
    background-color: #00ff00; // Green color
  }
}
