<div class="ellipsis-container" (mouseleave)="resetEllipsis()" (click)="toggleMenu()">
  <img
    class="crosshair-image"
    [class.open]="menuIsOpen"
    src="assets/kiss.png"
    alt="Image of Crosshair"
    (mouseover)="toggleMenu()"
    (mouseout)="toggleMenu()"
  />
  <div class="ellipsis">
    <ng-container *ngFor="let i of [0, 1, 2]; let dotIndex = index">
      <div
        class="ellipsis-dot"
        [ngClass]="{'hide-dot': (menuIsOpen || isHovered || !isClickedOutside) && (i === 0 || i === 2)}"
        #dotElement
      ></div>
    </ng-container>
  </div>
</div>