@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  background-color: #d3d3d3;

  .crosshair-image {
    position: absolute;
    width: 60px;
    height: auto;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;

    &.open {
      opacity: 1;
      transform: scale(1.1) rotate(45deg);
      box-shadow: 0 0 10px #ffffff;
    }
  }

  &:hover .crosshair-image,
  &.open .crosshair-image {
    opacity: 1;
    transform: scale(1.1) rotate(45deg);
    box-shadow: 0 0 10px #ffffff;
  }

  .ellipsis {
    display: flex;
    justify-content: space-between;
    width: 50px;
    position: absolute;
    z-index: 1;

    .ellipsis-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff0000;
      transition: background-color 0.3s ease, transform 0.3s ease,
        opacity 0.3s ease;

      &:hover {
        transform: scale(1.2);
        background-color: #00ff00;
      }

      &.hide-dot {
        opacity: 0;
      }
    }
  }
}
