<div class="grid-panel" [ngClass]="currentTheme">
  <!-- grid panel content -->

  <div class="grid-wrapper">
    <div class="box">
      <img src="assets/logos/money.png" />
      <p>Item</p>
    </div>
    <div class="box">
      <img
        src="assets/logos/money.png
    "
      />
      <p>Item</p>
    </div>
    <div class="box">
      <img
        src="assets/logos/money.png
    "
      />
      <p>Item</p>
    </div>
    <div class="box">
      <img
        src="assets/logos/money.png
    "
      />
      <p>Item</p>
    </div>
    <div class="box">
      <img
        src="assets/logos/money.png
    "
      />
      <p>Item</p>
    </div>
  </div>
</div>
