// profile.component.scss
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.profile-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  .profile-aside {
    width: 25%;
    padding: 1em;
    overflow-y: auto;
    background: #f8f9fa;

    img {
      width: 100%;
    }

    h3 {
      color: #343a40;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

  .profile-main {
    width: 50%;
    padding: 1em;
    overflow-y: auto;
    background: #fff;

    h1,
    h2 {
      color: #343a40;
    }

    p {
      color: #6c757d;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;

    .profile-aside,
    .profile-main {
      width: 100%;
    }
  }
}
