<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="menu-button"
    (click)="toggleMenu()"
    aria-haspopup="true"
    [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
  >
    <!-- <img class="crosshair-image" src="assets/titan.png" alt="Image of Titan" /> -->

    <app-ellipsis></app-ellipsis>
    Menu
  </button>
  <ul *ngIf="isMenuOpen" class="menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.url" class="menu-item">{{ item.name }}</a>
    </li>
    <li>
      <app-theme-toggle></app-theme-toggle>
    </li>
    <li>
      <app-social-links></app-social-links>
    </li>
  </ul>
</div>
