<nav class="dropdown" (click)="toggleMenu()">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="menu-button"
    aria-haspopup="true"
    [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
    aria-label="Menu"
  >
    <div class="centered-content">
      <!-- <app-ellipsis></app-ellipsis> -->
    </div>
  </button>
  <ul *ngIf="isMenuOpen" class="menu">
    <li *ngFor="let item of menuItems">
      <a
        [routerLink]="item.url"
        class="menu-item {{ item.class }}"
        aria-label="item.name"
        >{{ item.name }}</a
      >
    </li>
    <li>
      <app-theme-toggle></app-theme-toggle>
    </li>
    <li>
      <app-social-links></app-social-links>
    </li>
  </ul>
</nav>
