<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="menuButton"
    (click)="toggleMenu()"
    aria-haspopup="true"
    [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
    aria-label="Toggle Menu"
  >
    Menu
  </button>
  <div
    class="dropdown-menu"
    [ngClass]="{ 'theme-dark': isDarkMode }"
    [style.display]="isMenuOpen ? 'block' : 'none'"
    [style.opacity]="isMenuOpen ? '1' : '0'"
  >
    <!-- Links -->
    <a class="dropdown-item" [href]="item1Url" aria-label="Navigate to Item 1"
      >Item 1</a
    >
    <a class="dropdown-item" [href]="item2Url" aria-label="Navigate to Item 2"
      >Item 2</a
    >

    <!-- Social Links -->
    <div class="menu-social-links">
      <ng-content select="app-social-links"></ng-content>
    </div>
  </div>
</div>
