.container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.main-content {
  display: flex;
  text-align: center;
  justify-content: center;
  grid-column: 1;

  p {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
  }

  @media (min-width: 768px) {
    grid-column: 2;
  }
}
